html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: $black;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
  margin: 0;
  transition: background-color 0.3s ease-in-out;
}

.pointer {
  cursor: pointer;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: $cyan;
}

*::-webkit-scrollbar-thumb {
  background-color: $orange;
  outline: none;
}
