//css file
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s ease-in-out;
  transform: translateY(0);
  opacity: 1;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  transform: translateY(-5px);
  opacity: 0;
}

.page-slide-enter-active,
.page-slide-leave-active,
.slide-right-enter-active,
.slide-right-leave-active {
  transition-duration: 0.5s;
  transition-property: height, opacity, transform;
  transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  overflow: hidden;
}

.page-slide-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(0, 2em);
}

.page-slide-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(0, -2em);
}
