$catsilk: #f3f5f9;
$transparent: transparent;
$white: #fff;
$red: #d0021b;
$black: #192735;
$pink: #ffecec;
// tertiary colors, text, icons, headlines, etc

$grey-dark: #4c4b5d;
$grey-medium: #a09faf;
$grey-light: #c7c6d4;
$grey-fjord: #445672;
$grey-gull: #5f768f;
$grey-spindle: #c0d0ee;

$cyan: #239dc9;
$cyan-f: #98f5fd;
$yellow: #e8a928;
$yellow-f: #fff93d;
$pink: #f4e5dd;
$pink-f: #ffffff;
$orange: #e35f47;
$orange-f: #fe8b69;

$shamrock: #37cfb1;
$royal-blue: #4259ed;
$blue-ribbon: #2643f7;
$ultramarine: #061387;
$sundown: #ffb0b0;
$supernova: #fecc02;

$spindle: #c0d0ee;
$gull-grey: #5f768f;
$fjord: #445672;
$rhino: #293554;
$black-pearl: #1f2932;



