@tailwind base;

@import "parts/variables/_colors";

@import "parts/abstract/general";
@import "parts/abstract/layout";
@import "parts/abstract/transitions";
@import "parts/abstract/mixins";

@import "parts/_typography";
@import "parts/phones";

.link {
  text-decoration: none;
  color: inherit;
  cursor: none;
  &:hover {
    cursor: none;
  }
  &.standard-link {
    text-decoration: none;
    color: $blue-ribbon;
    position: relative;
    display: inline-block;
  }
}

#sideInfo {
  position: fixed;
  top: 2vw;
  left: 2vw;
  height: 90vh;
  z-index: 1000;
  max-width: 8rem;

  .text {
    transform-origin: center;
    transform: rotate(-90deg);
  }
}

.general-transition {
  transition: all 0.3s ease-in-out;
}
@tailwind utilities;
